.search-input {
     width: 328px;
     border-radius: 4px;
     .ant-input-affix-wrapper {
          background-color: $gray7;
          border: 1px solid rgba(250, 250, 250, 1);
          &-focused,
          &:hover {
               border-color: $primary !important;
          }
          .anticon-search {
               svg {
                    width: 18px;
                    height: 18px;
                    color: $gray3;
               }
          }
     }
     input {
          height: 34px;
          background-color: transparent;
          color: $gray3;
          &:focus {
               border: none;
               box-shadow: none;
          }
     }
}
